extends layouts/main

block content
    .form-control
        form(method="post", action=`videos${routes.changePassword}`)
            input(type="text", name="currentPassword", placeholder="Current Password")
            input(type="text", name="newPassword", placeholder="New Password")
            input(type="text", name="verifyNewPassword" placeholder="Verify New Password")
            input(type="submit", value="Change Password")
            