extends layouts/main

//- 아바타 편집을 위한 파일
block content
    .form__container
        form(action=routes.editProfile, method="post")
            label(for="avatar") Avatar
            input(type="file" id="avatar", name="avatar")