extends layouts/main

block content
    .form-container
        form(action=`/videos${routes.upload}`, method="post", enctype="multipart/form-data" , required )
            label(for ="file") Video File
            //- 비디오 파일만 받게 하는 것.
            input(type="file", id="file",name="videoFile", required, accept="video/*" )
            input(type="text" name="title" placeholder="Title" required )
            textarea(placeholder="Description" name="description" required )
            input(type="submit" value="Upload Video")
        